[submodule "week1/lib/forge-std"]
	path = week1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1/lib/openzeppelin-contracts"]
	path = week1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week1/lib/erc1363-payable-token"]
	path = week1/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "week2/lib/forge-std"]
	path = week2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2/lib/openzeppelin-contracts"]
	path = week2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week2/lib/murky"]
	path = week2/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "week3/lib/forge-std"]
	path = week3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
