[submodule "week1/lib/forge-std"]
	path = week1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1/lib/openzeppelin-contracts"]
	path = week1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week1/lib/erc1363-payable-token"]
	path = week1/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "week1/lib/ERC777"]
	path = week1/lib/ERC777
	url = https://github.com/0xjac/ERC777
