[submodule "week1/lib/forge-std"]
	path = week1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1/lib/openzeppelin-contracts"]
	path = week1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week1/lib/erc1363-payable-token"]
	path = week1/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "week2/lib/forge-std"]
	path = week2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2/lib/openzeppelin-contracts"]
	path = week2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week2/lib/murky"]
	path = week2/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "week3/lib/forge-std"]
	path = week3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week3/lib/openzeppelin-contracts"]
	path = week3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week6/lib/forge-std"]
	path = week6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week6.1/lib/forge-std"]
	path = week6.1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week7/ethernaut-20-denial/lib/forge-std"]
	path = week7/ethernaut-20-denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week7/ethernaut-15-naught-coin/lib/forge-std"]
	path = week7/ethernaut-15-naught-coin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week7/ethernaut-15-naught-coin/lib/openzeppelin-contracts"]
	path = week7/ethernaut-15-naught-coin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week7/ethernaut-13-gatekeeper/lib/forge-std"]
	path = week7/ethernaut-13-gatekeeper/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week7/ethernaut-23-dex2/lib/forge-std"]
	path = week7/ethernaut-23-dex2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week7/ethernaut-23-dex2/lib/openzeppelin-contracts"]
	path = week7/ethernaut-23-dex2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week12/ethernaut-19-alien-codex/lib/forge-std"]
	path = week12/ethernaut-19-alien-codex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week15/synthetix-staking-rewards/lib/forge-std"]
	path = week15/synthetix-staking-rewards/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week15/synthetix-staking-rewards/lib/openzeppelin-contracts"]
	path = week15/synthetix-staking-rewards/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
